@import url('https://fonts.cdnfonts.com/css/typo-grotesk');

/*colors*/
:root {
    --gold--: #B3971A;
    --dark-green--: #095256;
    --teal--: #5a7677;
    --light-yellow--: #fff5f2;
    --light-blue--: #ECF8F8;
}

/*general*/
hr {
    margin-top: 15vh;
}

a {
    text-decoration: none;
}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Typo Grotesk', sans-serif;
    background: linear-gradient(rgb(205, 205, 236) 0%, var(--light-yellow--) 20%);
}

/*navbar styling*/

nav {
    background-color: transparent;
}

.desktop-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: black;
}

.navbar {
    position: fixed;
    top: 0;
    transition: 0.3s;
    z-index: 999;
    width: 100%;
}

.scrolled {
    box-shadow: 0px 0px 35px rgb(174, 174, 174);
    background-color: var(--light-blue--);
}

.nav-logo {
    height: auto;
    width: 30px;
}

.desktop-nav li {
    display: inline-block;
    margin-left: 100px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

nav li:hover {
    font-weight: 600;
}

ul li ul.drop-down li {
    display: block;
    margin-left: 0;
    padding: 20px;
}

ul li ul.drop-down li:hover {
    background-color: var(--light-yellow--);
}

ul li ul.drop-down {
    position: absolute;
    display: none;
    background-color: white;
    border-radius: 10px;
}

li.nav-hover:hover ul.drop-down {
    display: block;
}

li.nav-hover:focus ul.drop-down {
    display: block;
}

ul li ul.drop-down-second li {
    display: block;
    margin-left: 0;
    padding: 20px;
}

ul li ul.drop-down-second li:hover {
    background-color: var(--light-yellow--);
}

ul li ul.drop-down-second {
    position: absolute;
    display: none;
    background-color: white;
    border-radius: 10px;
}

li.nav-hover-second:hover ul.drop-down-second {
    display: block;
}

/*hamburger-nav*/
.hamburger-nav{
    display: none;
    opacity: 1;
    transition: 0.3s;
}

.hamburger-initial-elements{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hamburger-nav button{
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: var(--gold--);
    padding: 10px 20px;
}

.hidden{
    display: none;
}

#hamburger-elements ul li{
    font-size: 20px;
    padding: 10px;
    margin: 0% 30% 0% 30%;
    list-style: none;

}

/*hero section*/

.hero {
    margin: 35vh 40vh 0vh 40vh;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    color: var(--gold--);
    line-height: 100%;
}

.hero h2 {
    margin-top: 5vh;
    font-size: 20px;
    color: var(--dark-green--);
}

.hero button {
    font-family: inherit;
    margin-top: 5vh;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: var(--gold--);
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0px 10px 20px rgb(167, 167, 167);
}

.hero button i {
    font-size: 15px;
}

.hero button:hover {
    background-color: #dfc13b;
}

/*about us section*/

.about-us {
    margin: 15vh 40vh 20vh 40vh;
    text-align: center;
}

.about-us h1 {
    font-size: 50px;
    color: var(--gold--);
    margin-bottom: 5vh;
}

.about-us p {
    margin-top: 1vh;
    font-size: 20px;
    color: var(--teal--);
    margin-bottom: 2vh;
}

.about-us h2 {
    margin-top: 2vh;
    font-size: 30px;
    color: var(--gold--);
}

/*about-me*/

.about-me{
    background-color: var(--gold--);
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 5vh;
    color: white;
    padding: 5vh 40vh;
    text-align: right;
}

.about-me img{
    height: 45vh;
    width: auto;
    border-radius: 10px;
    margin-top: -120px;  
}

.about-me h1{
    margin-top: 20px;
    font-size: 40px;
}

.about-me p {
    text-align: right;
    font-size: 20px;
}

.about-me i {
    color: #efdb82;
    font-size: 60px;
    margin-top: 0;
}

/*services sections*/

.services {
    margin: 15vh 40vh 15vh 40vh;
    text-align: center;
}

.services h1 {
    font-size: 50px;
    color: var(--gold--);
}

.services .cards {
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.services .card {
    padding: 20px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 20px rgb(167, 167, 167);
    transition: 0.3s;
    top: 0;
}

.services .card:hover {
    transform: translateY(-25px);
    cursor: pointer;
    box-shadow: 0px 20px 30px rgb(167, 167, 167);
}

.services .card img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.services .card h2 {
    margin-bottom: 15px;
    color: var(--dark-green--);
}

.services .card p {
    margin-bottom: 15px;
    color: var(--teal--);
}

.services .card button {
    font-family: inherit;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: var(--dark-green--);
    border: none;
    border-radius: 10px;
    width: 100%;
}

/*clients section*/

.clients{
    margin: 15vh 40vh 20vh 40vh;
    text-align: center;
    color: var(--gold--);
}

.clients h1{
    font-size: 50px;
    margin-bottom: 5vh;
}

.clients-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.clients img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(167, 167, 167);
    transition: 0.3s;
}

.clients img:hover{
    transform: scale(1.1);
}

/*contact sections*/

.contact {
    background-color: var(--gold--);
}

.contact-container {
    margin: 0vh 20vh 0vh 20vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.contact h1 {
    margin-bottom: 30px;
    font-size: 70px;
    color: var(--light-blue--);
}

.contact input {
    margin: 10px;
    padding: 10px;
    border: none;
    width: 100%;
    font-family: inherit;
    border-radius: 10px;
}

.contact textarea {
    padding: 10px;
    margin: 10px;
    border: none;
    font-family: inherit;
    border-radius: 10px;
    width: 300px;
}

.contact button {
    font-family: inherit;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    background-color: var(--teal--);
    border: none;
    border-radius: 10px;
    width: 100%;
    transition: 0.3s;
}

.contact iframe{
    margin-top: 10px;
    border-radius: 10px;
}

.contact button:hover {
    background-color: var(--dark-green--);
}

.contact h2 {
    margin-top: 50px;
    font-size: 30px;
    color: var(--light-blue--);
    margin-bottom: 30px;
}

.contact p {
    color: var(--light-yellow--);
    font-size: 15px;
    margin-top: 20px;
}

.contact .phone-number {
    font-size: 20px;
    font-weight: 900;
    color: var(--light-yellow--);
}

/*footer*/

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
}

footer img {
    width: 50px;
    height: auto;
}

footer a {
    color: #095256;
    margin-left: 20px;
}

/*tarifs section: prices*/

#prices{
    margin: 15vh 0vh 20vh 0vh;

}

#prices .prices-cards{
    display: flex;
    justify-content: center;
}

#prices .price-category{
    margin-left: 20px;
    margin-right: 20px;
    padding: 35px;
    cursor: pointer;
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: inherit;
    transition: 0.3s;
    font-size: 25px;
    font-weight: 600;
    background-color: transparent;
    color: var(--dark-green--);
}

#prices .price-tag{
    border-top: solid 2px var(--dark-green--);
    display: none;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0; 
    text-align: center;
    padding: 15vh 0vh;
}

#prices h3{
    color: var(--dark-green--);
    font-size: 50px;
}